#title1{
    background-color: black;
    color: white;
    height: 30px;
    width: 690px;
    margin-left: 200px;
    padding: 20px;
}
#title2{
    margin-left: 400px;
}
.main{
    display: flex;
}
.block1{
    border-style: solid;
    border-color: black;
    margin-left: 200px;
    height: 200px;
    width: 120px;
    padding: 20px;
}

img{
    height: 80px;
    width: 80px;
    margin-left: 20px;
    margin-top: 20px;
}
.color{
    text-decoration: underline;
    color: #17a2b8;
}
.block2-a{
    border-style: solid;
    border-color: black;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 500px;
    padding: 20px;
}
.block2-a div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button{
    background-color: #ffd966;
    box-shadow: 1px 1px 0px 1px black;
    height: 30px;
    width: 80px;
    margin-left: 5px;
}
.color{
    text-decoration: underline;
    color: #17a2b8;
}


